@font-face {
  font-family: "Montserrat Bold";
  src: local("Montserrat Bold"), url(./fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
  font-family: "Mulish Bold";
  src: local("Mulish Bold"), url(./fonts/Mulish/Mulish-Bold.ttf) format('truetype');
}

@font-face {
  font-family: "Mulish Semibold";
  src: local("Mulish Semibold"), url(./fonts/Mulish//Mulish-SemiBold.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
